<?xml version="1.0" encoding="utf-8"?>
<configuration>
 <packageSources>
    <!--To inherit the global NuGet package sources remove the <clear/> line below -->
    <clear />
    <add key="umbraco_headless_demo" value="https://api.umbraco_headless_demo.org/v3/index.json" />
 </packageSources>
</configuration>
