<section class="s-page-header  ">
    <div class="mask-bg-mobile" style="background-image: url('');"></div>
    <div class="mask-bg-desktop" style="background-image: url('');"></div>
    <div class="mask-color"></div>
    <div class="mask-screen"></div>
    <div class="mask-multiply">
        <div class="mask-1"></div>
        <div class="mask-2"></div>
        <div class="mask-3"></div>
    </div>
    <div class="container">
        <div class="header-wrapper">
            <div class="header-content">
                <h1>404 - Page not found</h1>
            </div>
        </div>
    </div>
</section>


<section class="cw-text-block ">
    <div class="container">
        <div class="c-text-block">
            <p>The link you clicked may be broken or the page may have been removed.</p>
            <p>Please try the following;</p>
            <ul>
                <li>
                    <a href="/">Back to home</a>
                </li>
                <li>
                    @* ReSharper disable once Web.MappedPath *@
                    <a href="/search">Search our site</a>
                </li>
                <li>
                    @* ReSharper disable once Html.PathError *@
                    <a href="/contact-us">Contact us</a>
                </li>
            </ul>
        </div>
    </div>
</section>

<section class="s-slope-bg no-margin-bottom grey-bg pos-header">
    <div class="container">
    </div>
</section>