@using Umbraco.Headless.Client.Models
@model IEnumerable<ContentItem>

<h2>All Content items & custom properties in your Umbraco headless CMS</h2>

@foreach(var item in Model){
<h3>@item.Name <small>@item.Id</small></h3>
<ul>
    @foreach (var property in item.Properties.Properties){
    <li><b>@property.Alias:</b>  @property.Value</li>
         }
</ul>
}