@model BlogIndex

@await Html.PartialAsync("_PageHeader")

<div class="row">

    <!-- Post Content Column -->
    <div class="col-lg-12">

        <h2>First Post</h2>

        <hr>

        <!-- Date/Time -->
        <p>Posted on August 5, 2018 at 10:00 PM</p>

        <hr>

        <!-- Preview Image -->
        <img class="img-fluid rounded" src="https://placehold.it/1200x300?text=Work+in+progress" alt="">

        <hr>

        <!-- Post Content -->
        <p class="lead">This website started out as a demo for using Umbraco Headless on .NET MVC application and morphed into actual designs which Third Trio will be able to sell. But as you can see below the site is not finalized and there's a bit more to go.</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, tenetur natus doloremque laborum quos iste ipsum rerum obcaecati impedit odit illo dolorum ab tempora nihil dicta earum fugiat. Temporibus, voluptatibus.</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, doloribus, dolorem iusto blanditiis unde eius illum consequuntur neque dicta incidunt ullam ea hic porro optio ratione repellat perspiciatis. Enim, iure!</p>

        <blockquote class="blockquote">
            <p class="mb-0">Well done is better than well said.</p>
            <footer class="blockquote-footer">
                Benjamin Franklin from 
                <cite title="Source Title">somewhere on the internet</cite>
            </footer>
        </blockquote>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, nostrum, aliquid, animi, ut quas placeat totam sunt tempora commodi nihil ullam alias modi dicta saepe minima ab quo voluptatem obcaecati?</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, dolor quis. Sunt, ut, explicabo, aliquam tenetur ratione tempore quidem voluptates cupiditate voluptas illo saepe quaerat numquam recusandae? Qui, necessitatibus, est!</p>

        <p>Want to copy some Lorem ipsum from here? Please do! Enjoy!</p>
    </div>
</div>