@model Contact

@await Html.PartialAsync("_PageHeader")

<div class="row">
    <div class="col-sm-5">
        <p>Contact us and we'll get back to you within 24 hours.</p>
        <p><i class="material-icons">location_on</i> Noble Park Vic 3174, Australia</p>
        <p><i class="material-icons">local_phone</i> +61 3 8521 3901</p>
        <p><i class="material-icons">email</i> sales@thirdtrio.com.au</p>
    </div>
    <div class="col-sm-7">
        <!-- 4:3 aspect ratio -->
        <div class="embed-responsive embed-responsive-1by1">
            <iframe class="embed-responsive-item" src="https://docs.google.com/forms/d/e/1FAIpQLSdSaHVI3MXBR0iqn6g_6gsJogyEVsELDyBO3FxL8Xyfp933Iw/viewform?embedded=true">Loading...</iframe>
        </div>
    </div>
</div>