@inject HeadlessService HeadlessService
@{
    var shop = await HeadlessService
    .Query()
    .GetFirst<Shop>(); ;
}
<!-- Footer -->
<footer class="footer py-5 bg-dark text-white">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="footerlogo">
                    <h5><a href="/"> <img src="~/img/logo/shirt.svg" width="30" height="30" class="d-inline-block align-top" alt=""> Tee-Phrases</a></h5>
                    <!-- <img src="/img/logo.png" alt="" /> -->
                </div>
                <!-- end logo -->
                <address>
                    Tee-Phrases <i>by</i> <strong>Third Trio</strong><br>
                    Noble Park Vic 3174<br>
                    Australia<br>
                    <a href="https://www.thirdtrio.com.au" target="_blank">www.thirdtrio.com.au</a>
                </address>
            </div>
            <div class="col-lg-4 col-md-4">
                <h5>T-shirt Designs</h5>
                <ul class="list-unstyled">
                    <li><a href="@shop.Url">All designs</a></li>
                    @foreach (var child in await HeadlessService.GetChildren(shop))
                    {
                        <li><a href="@child.Url">@child.Name</a></li>
                    }
                </ul>
            </div>
            <div class="col-lg-4 col-md-4">
                <h5>Get in touch</h5>
                <h6>Call us on <a href="tel:0385213901">(03) 8521 3901</a></h6>
                <ul class="list-unstyled social-links">
                    <li><a href="http://www.facebook.com/thirdtrio" title="Facebook" target="_blank"><i class="material-icons">thumb_up</i> facebook.com/thirdtrio</a></li>
                    <li><a href="http://twitter.com/thirdtrio/" title="Twitter" target="_blank"><i class="material-icons">textsms</i> twitter.com/thirdtrio</a></li>
                    <li><a href="https://instagram.com/thirdtrio/" title="Instagram" target="_blank"><i class="material-icons">photo_camera</i> instagram.com/thirdtrio</a></li>
                    <li><a href="https://plus.google.com/+thirdtrio" title="Google plus" target="_blank"><i class="material-icons">plus_one</i> plus.google.com/+thirdtrio</a></li>
                    <li><a href="http://www.youtube.com/c/thirdtrio" title="Youtube" target="_blank"><i class="material-icons">videocam</i> youtube.com/c/thirdtrio</a></li>
                </ul>
            </div>
        </div>
        <p class="m-0 text-center">Copyright &copy; Tee-Phrases 2018 | Powered by Umbraco Headless Beta</p>
    </div>
    <!-- /.container -->
</footer>