@inject HeadlessService HeadlessService
@model ContentItem
@{
    var ancestors = new List<KeyValuePair<string, string>>();
    var currentChild = Model;
    while (currentChild.Path.Split(',').Length > 3)
    {
        currentChild = await HeadlessService.GetParent(currentChild);
        if (currentChild != null)
        {
            ancestors.Add(new KeyValuePair<string, string>(currentChild.Name, currentChild.Url));
        }
    }

   ancestors.Reverse();
}
<div class="row">
    <div class="col-lg-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb px-0 float-right">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                @foreach (var item in ancestors)
                {
                    <li class="breadcrumb-item"><a href="@item.Value">@item.Key</a></li>
                }
                <li class="breadcrumb-item active" aria-current="page">@Model.Name</li>
            </ol>
        </nav>
    </div>
    <div class="col-lg-12">
        <h1>@Model.Name</h1>
    </div>
</div>